# DATABASE
DB_USERNAME=root
DB_PASSWORD=your_password_here

# DATASOURCE
# Não muda o host 'mysql', é o nome do serviço no docker-compose
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/schedule_notification_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true

# RABBITMQ
# Não muda o host 'rabbitmq', é o nome do serviço no docker-compose
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=myuser
RABBITMQ_PASS=secret

# EMAIL
# Precisa de uma senha de app do Gmail: https://myaccount.google.com/apppasswords
EMAIL=your_email@gmail.com
PASSWORD_EMAIL=xxxx xxxx xxxx xxxx
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587